<div class="grid-container">
  <div class="grid-item">
    <div class="image-container">
      <button class="plus-button">+</button>
      <img src="/images/Bag.png" alt="Image 1" width="200" height="200">

      <div class="popup-modal">
        <div class="popup-content">
          <span class="close">&times;</span>
          <div class="popup-header">
            <img src="/images/Bag.png" alt="Product Image" class="popup-image" width="400" height="400">
            <div class="popup-details">
              <h3>Orange Wide Leg</h3>
              <p>980,00€</p>
              <p>This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
            </div>
          </div>
          <label for="color">Color:</label>
          <div class="color-options">
            <button>White</button>
            <button>Black</button>
          </div>
          <label for="size">Size:</label>
          <select id="size" class="popup-select">
            <option value="">Choose your size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="image-container">
      <button class="plus-button">+</button>
      <img src="/images/Suit.png" alt="Image 2" width="200" height="200">

      <div class="popup-modal">
        <div class="popup-content">
          <span class="close">&times;</span>
          <div class="popup-header">
            <img src="/images/Suit.png" alt="Product Image" class="popup-image" width="400" height="400">
            <div class="popup-details">
              <h3>Tailored Jacket</h3>
              <p>980,00€</p>
              <p>This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
            </div>
          </div>
          <label for="color">Color:</label>
          <div class="color-options">
            <button>Blue</button>
            <button>Black</button>
          </div>
          <label for="size">Size:</label>
          <select id="size" class="popup-select">
            <option value="">Choose your size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="image-container">
      <button class="plus-button">+</button>
      <img src="/images/Shirt.png" alt="Image 3" width="200" height="200">

      <div class="popup-modal">
        <div class="popup-content">
          <span class="close">&times;</span>
          <div class="popup-header">
            <img src="/images/Shirt.png" alt="Product Image" class="popup-image" width="400" height="400">
            <div class="popup-details">
              <h3>Accordion Pleated Dress</h3>
              <p>980,00€</p>
              <p>This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
            </div>
          </div>
          <label for="color">Color:</label>
          <div class="color-options">
            <button>Blue</button>
            <button>Black</button>
          </div>
          <label for="size">Size:</label>
          <select id="size" class="popup-select">
            <option value="">Choose your size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="image-container">
      <button class="plus-button">+</button>
      <img src="/images/Cup.png" alt="Image 4" width="200" height="200">

      <div class="popup-modal">
        <div class="popup-content">
          <span class="close">&times;</span>
          <div class="popup-header">
            <img src="/images/Cup.png" alt="Product Image" class="popup-image" width="400" height="400">
            <div class="popup-details">
              <h3>Green Trench Coat</h3>
              <p>980,00€</p>
              <p>This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
            </div>
          </div>
          <label for="color">Color:</label>
          <div class="color-options">
            <button>Blue</button>
            <button>Black</button>
          </div>
          <label for="size">Size:</label>
          <select id="size" class="popup-select">
            <option value="">Choose your size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="image-container">
      <button class="plus-button">+</button>
      <img src="/images/BomberJacket.png" alt="Image 5" width="200" height="200">

      <div class="popup-modal">
        <div class="popup-content">
          <span class="close">&times;</span>
          <div class="popup-header">
            <img src="/images/BomberJacket.png" alt="Product Image" class="popup-image" width="400" height="400">
            <div class="popup-details">
              <h3>Tennis Blue T-Shirt</h3>
              <p>980,00€</p>
              <p>This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
            </div>
          </div>
          <label for="color">Color:</label>
          <div class="color-options">
            <button>Blue</button>
            <button>Black</button>
          </div>
          <label for="size">Size:</label>
          <select id="size" class="popup-select">
            <option value="">Choose your size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="image-container">
      <button class="plus-button">+</button>
      <img src="/images/JeansJacket.png" alt="Image 6" width="200" height="200">

      <div class="popup-modal">
        <div class="popup-content">
          <span class="close">&times;</span>
          <div class="popup-header">
            <img src="/images/JeansJacket.png" alt="Product Image" class="popup-image" width="400" height="400">
            <div class="popup-details">
              <h3>Long Sleeve Tennis Top</h3>
              <p>980,00€</p>
              <p>This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
            </div>
          </div>
          <label for="color">Color:</label>
          <div class="color-options">
            <button>Blue</button>
            <button>Black</button>
          </div>
          <label for="size">Size:</label>
          <select id="size" class="popup-select">
            <option value="">Choose your size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
