<div class="newHeader">
  <div class="title-wrapper">
    <span class="title">{{ 'newHeader.find_gift' | t }}</span>
  </div>
  <div class="button-vision">
    <button class="newButton">
      {{ 'newButton.choose_gift' | t }}
      <span class="arrow">→</span>
    </button>
    <span class="vision">{{ 'newHeader.tisso_vision' | t }}</span>
  </div>
</div>
