<div class="header">
      <span class="title">Find the ideal gift for your loved ones.</span>
      <button class="button">CHOOSE GIFT<span class="arrow">→</span></button>
      <span class="vision">TISSO VISION</span>
    </div>



{% schema %}
  {
    "name": "Banner",
    "settings": []
  }
{% endschema %}