.newHeader {
  background-color: #f5f5f5;
  color: #000; /* Black text color */
  height: 50px;
  padding: 0 1rem; /* Added padding for better spacing */
  display: flex;
  justify-content: space-between; /* Distribute space between title and button/vision */
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.title-wrapper {
  text-align: center;
  flex: 1; /* Title takes up available space */
}

.title {
  font-size: 1rem;
  font-weight: bold;
}

.button-vision {
  display: flex;
  align-items: center;
}

.newButton {
  background-color: #fff544;
  color: #000; /* Black text color */
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 1rem;
}

.button .arrow {
  font-size: 20px;
}

.button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.vision {
  margin-left: 1rem; /* Added margin for spacing */
  font-size: 0.8rem; /* Reduced font size */
  font-weight: normal;
}
