.newHeader {
  background-color: #f5f5f5;
  color: #000; /* Black text */
  text-align: center; /* Center everything horizontally */
  height: 150px; /* Adjust height as needed */
  padding: 0 20px; /* Added some padding */
  position: relative; /* Allows absolute positioning of children */
}

.title {
  font-size: 2em; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 0.5em; /* Space between title and tagline */
}

.newButton {
  background-color: #ffcc00; /* Adjust color if needed */
  color: #000; /* Black text */
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px; /* Rounded corners */
}

.newButton:hover {
  background-color: #ff9900; /* Darker hover color */
}

.newButton::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
}
