.text {
  text-align: left;
  margin: 40px 0; /* Adjust as needed for top/bottom/left margin if necessary */
  text-indent: 50px; /* Indent the first line by 20px */
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}
