.text {
  text-align: left; /* Center the text */
  margin: 40px 0; /* Add top and bottom margins */
  font-size: 1.2em; /* Adjust the font size */
  color: #333; /* Adjust the text color */
  font-weight: bold;
  left: 50px;
}
